h1{
    color: goldenrod;
}
h1:hover
{
    width: fit-content;
    color: indianred;
    /*background-color: rgb(139, 139, 228);*/
    font-size: 50pt;
}
.special-effect:hover
{
    width: fit-content;
    color: blueviolet;
    border: 1px solid goldenrod;
    border-radius: 15px;
}