h1{
    color: goldenrod;
}
h1:hover
{
    width: fit-content;
    color: indianred;
    /*background-color: rgb(139, 139, 228);*/
    font-size: 50pt;
}
.special-effect:hover
{
    width: fit-content;
    color: blueviolet;
    border: 1px solid goldenrod;
    border-radius: 15px;
}
.focus-text:focus{
    font-size: 60px;
}
/*unvisitedd  link*/
a:link{
    color:red;
}
/*visited  link*/
a:visited{
    color:green;
}
/*when mouse goes over the link -> hover*/
a:hover{
  color:hotpink;
}
/*when a link is selected or active*/
a:active{
    color:blue;
}